<template>
  <div class="explorer-map-container">
    <div class="explorer-map">
      <h1 style="text-align:center;">MAP</h1>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.explorer-map {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: steelblue;
  opacity: 0.5;
}
.explorer-map-container {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
</style>
