<template>
  <left-card>
    <template #content>
      <v-card elevation="12" style="z-index:11; width: 350px; margin-right: 10px;">
        <v-toolbar dark dense>
          <v-toolbar-title class="overline">Layers Manager</v-toolbar-title>
          <v-btn text icon small style="margin-left:5px;">+</v-btn>
          <v-spacer></v-spacer>
          <v-select
            v-model="selectedView"
            @change="changeView"
            style="width:50px;"
            class="overline"
            :items="views"
            single-line
            hide-details
            height="20"
            item-text
          ></v-select>
        </v-toolbar>

        <sortable-list v-model="items">
          <v-list>
            <sortable-item v-for="item in items" :key="item.title">
              <v-list-item>
                <v-checkbox dense v-model="item.displayed" @change="changeDisplay(item.id)" />
                <v-list-item-content class="dragger">
                  <v-list-item-title v-text="item.title" />
                  <v-list-item-subtitle v-text="item.subtitle" />
                </v-list-item-content>

                <v-list-item-action>
                  <v-item-group>
                    <v-btn
                      v-if="dualDisplay"
                      text
                      icon
                      small
                      @click="switchPanel(item.id)"
                    >{{ item.dualMap }}</v-btn>

                    <v-btn icon small color="blue" @click="zoomToLayer(item.id)">
                      <v-icon small>mdi-telegram</v-icon>
                    </v-btn>
                    <v-btn icon small color="red" @click="deleteLayer(item.id)">
                      <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                  </v-item-group>
                </v-list-item-action>
              </v-list-item>
            </sortable-item>
          </v-list>
        </sortable-list>

        <v-snackbar v-model="snackbar" :timeout="timeout" top right>
          {{ text }}
          <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
        </v-snackbar>
      </v-card>
    </template>
    <template #button>
      <v-icon>mdi-layers</v-icon>
    </template>
  </left-card>
</template>

<script>
import LeftCard from "../../components/LeftCard.vue";
import SortableList from "./SortableList";
import SortableItem from "./SortableItem";

export default {
  components: {
    LeftCard,
    SortableList,
    SortableItem
  },
  computed: {
    dualDisplay() {
      if (this.selectedView !== "Default") {
        return true;
      } else {
        return false;
      }
    }
  },
  data() {
    return {
      snackbar: false,
      text: "Snackbar Text",
      timeout: 1500,
      views: ["Default", "Slide", "Sync"],
      selectedView: "Default",
      items: [
        {
          id: 1,
          title: "Singapore Basemap",
          subtitle: "Jan 20, 2018",
          dualMap: "R",
          displayed: true
        },
        {
          id: 2,
          title: "India Basemap",
          subtitle: "Jan 10, 2019",
          dualMap: "L",
          displayed: false
        },
        {
          id: 3,
          title: "Malaysia Basemap",
          subtitle: "Jan 20, 2018",
          dualMap: "B",
          displayed: false
        },
        {
          id: 4,
          title: "Vietnam Basemap",
          subtitle: "Jan 10, 2019",
          dualMap: "B",
          displayed: false
        }
      ]
    };
  },
  methods: {
    callSnackbar(text) {
      this.text = text;
      this.snackbar = true;
    },
    changeDisplay(id) {
      const item = this.items.find(i => i.id == id);
      this.callSnackbar("Switch Layer ID: " + id + " to " + item.displayed);
    },
    zoomToLayer(id) {
      this.callSnackbar("Zoom to Layer ID: " + id);
    },
    deleteLayer(id) {
      this.callSnackbar("Delete Layer ID:" + id);
    },
    switchPanel(id) {
      const index = this.items.findIndex(i => i.id == id);
      switch (this.items[index].dualMap) {
        case "R":
          this.items[index].dualMap = "L";
          this.callSnackbar("Change Panel of Layer ID:" + id + " to L");
          break;
        case "L":
          this.callSnackbar("Change Panel of Layer ID:" + id + " to B");
          this.items[index].dualMap = "B";
          break;
        case "B":
          this.callSnackbar("Change Panel of Layer ID:" + id + " to R");
          this.items[index].dualMap = "R";
          break;
        default:
          break;
      }
    },
    changeView() {
      this.callSnackbar("Change map view to " + this.selectedView);
    }
  }
};
</script>

<style scoped>
.dragger:hover {
  cursor: grab;
}
</style>