<template>
  <div class="card-wrapper">
    <div class="check">
      <transition name="slide">
        <div v-if="cardVisible">
          <slot name="content"></slot>
        </div>
      </transition>

      <v-btn small fab @click="cardVisible = !cardVisible" style="z-index:10;">
        <slot name="button"></slot>
      </v-btn>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      cardVisible: false
    };
  }
};
</script>
<style scoped>
.card-wrapper {
  margin: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}
.check {
  position: absolute;
  display: flex;
  flex-direction: row;
}
</style>
