<template>
  <v-app>
    <v-content>
      <Map />
      <div class="top-left">
        <layers-manager />
      </div>
    </v-content>
  </v-app>
</template>

<script>
import Map from "./containers/MapContainer";
import LayersManager from "./containers/LayersManagerContainer/LayersManagerContainer.vue";

export default {
  name: "App",
  components: {
    LayersManager,
    Map
  }
};
</script>

<style scoped>
.top-left {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.top-right {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
</style>